{% extends "parent.html" %}
{% block title %}About{% endblock %}
{% block content %}
    <h1>Tentang Prediksi Kerusakan Motor</h1>
    <p>
		mengingat tingginya peningkatan pandemi, banyak warga yang enggan untuk pergi ke bengkel karena masih takut dan beberapa waspada terkena covid.
    dengan program ini diharapkan membantuk warga dalam cek kerusakan kendaraan dari rumah, program ini berbasis flask, dan menggunakan model yang sudah di training sebagai data
    yang digunakan untuk memprediksi kerusakan motor tersebut.
	</p>
{% endblock %}